body {
    
    background-color: cadetblue;
}

#container {
    border: 3px solid black;
    background-color: #333333;
    height: 50vh;
    width: 50%;
    margin: auto;
    
    text-align: center;
}

#fortune {
    margin-top: 190px;
    font-size: 30px;
    color: white;
}